.linksContainer{
    margin-inline: 20%;
    color: var(--white);
}

.pagination{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}


.page-item.active{
    padding: 10px;
    border-radius: 3px;
    border: 1px solid var(--purple);
    color: var(--purple);
}

.disabled{
    color: var(--purple);
}

.page-link{
    text-decoration: none;
    color: unset;
}

.page-link:visited{
    color: var(--purple);
}

.linksText{
    text-align: center;
}
