#Platforms{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 20%;
    block-size: 800px;
    margin-block: 50px;
}

.platformsCard{
    color: var(--white);
    border: 1px solid var(--purple);
    text-align: center;
    align-content: center;
    background-color: var(--black)
}

#PageSettings{
    inline-size: 98%;
    display: flex;
    align-items: center;
}

#PageSettings h2{
    inline-size: 20%;
}

#PlatformSort{
    background-color: var(--black);
    outline: none;
    border: 1px solid var(--purple);
    color: var(--white);
    cursor: pointer;
    appearance: none;
    margin: 0;
    text-align: center;
}

#PlatformSort option{
    cursor: pointer;
}
