#AuthorsChoise{
    block-size: 600px;
    inline-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glide{
    inline-size: 60%;
    block-size: 70%;
}

.glide__track{
    inline-size: 100%;
    block-size: 100%;
}

.glide__slides{
    inline-size: 100%;
    block-size: 100%;
}

.glide__slide{
    inline-size: 50%;
    block-size: 100%;
    background-image: url("https://placehold.co/1920x1080/131313/F5F5F5/?text=Game");
    background-size: cover;
    background-position: center;
    color: white;
    display:flex;
    justify-content: center;
    align-items: end;
}

.glide__slide__text{
    block-size: 0;
    inline-size: 100%;
    background-image: linear-gradient(180deg, transparent, var(--darkgrey));
    display: flex;
    flex-direction: column;
    align-items: start;
}

.glide__slide__text p{
    block-size: 3%;
    margin-inline-start: 2%;
}
